body {
    background: gray;
    width: 90%;
    padding: 10px;

}


.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    padding: 5px;
}