body {
    background: gray;
    width: 90%;
    padding: 2px;
}

.head-container {
    display: flex;
    flex-direction: column;
    background: white;
}

.head-down {
    background-color: darkcyan;
}